/* Write your CSS here! */
<style>
body {
  margin: 8px;
  display: block;
  color: black;
  background-color: black;
}

#testP {
  padding: 10px;
  color: green;
}

#mainHeading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: red;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: grey;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: black;
  background-color: grey;
}

.funParagraph {
  color: green;
}

p {
  margin-bottom: 15px;
  color: black;
}
</style>