/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
  }

#testP {
    padding: 10px;
  }

#mainHeading {
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;

  }

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
 
h3 {
    margin-top: 15px;
    margin-bottom: 5px;
  }

.funParagraph {
    color: green;
  }

  p {
    margin-bottom: 15px;
  }